[submodule "cloudformation"]
	path = cloudformation
	url = https://github.com/gabormarosi/cloudformation.git
[submodule "lambda"]
	path = lambda
	url = https://github.com/gabormarosi/lambda.git
[submodule "openshift"]
	path = openshift
	url = https://github.com/gabormarosi/openshift.git
